#maintitle {
    margin: 0 auto;
    display: block;
    color: blue;
    border: 5px dashed lightblue;
    text-align: center;
    padding: 10px;
    width: 250px;
}

.link {
    display: inline-block;
    margin: 2px;
    padding: 2px;
}